<br>
<h3>Issues</h3>
<% @issues = Issue.all.sort_by { |i| i.created_at } %>
<% @issues.each do |issue| %>
<table>
  <tbody>
      <tr>
        <td>
          <% if issue.description.split.size > 15 %>
            <%= link_to issue.description.split[0...15].join(' '), issue_path(issue) %>
            <%= "..." %>
          <% else %>
            <%= link_to issue.description, issue_path(issue) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= issue.tried_description %></td>
      </tr>
      <tr>
        <td><%= issue.user.email %></td>
      </tr>
      <tr>
        <td><%= issue.resolved %></td>
      </tr>
      <tr>
        <td><%= issue.created_at %></td>
      </tr>
    </tbody>
  </table>
  <br>
<% end %>
