<h3>Your Issue</h3>
<table>
  <tbody>
      <tr>
        <td>What's wrong?</td>
        <td><%= @issue.description %></td>
      </tr>
      <tr>
        <td>What have you tried?</td>
        <td><%= @issue.tried_description %></td>
      </tr>
      <tr>
        <td>Who are you?</td>
        <td><%= @issue.user.email%></td>
      </tr>
      <%= render "issues/resolve" %>
    </tbody>
  </table>
<%= link_to "Resolve", issue_resolve_path(@issue.id), remote: true, method: :post, class: :button %>

<h4>Notes</h4>
<% @notes = @issue.notes %>
<% @notes = @notes.sort_by { |i| i.created_at } %>
<% @notes.each do |note| %>
<table>
  <tbody>
      <tr>
        <td><%= note.text %></td>
      </tr>
      <tr>
        <td> - From <%= note.user.email %> on <%= note.created_at.strftime("%b. %d, %Y") %></td>
      </tr>
    </tbody>
  </table>
  <br>
<% end %>


<h3>Add Note<h3>
  <%= form_for :note, url: issue_notes_path(@issue.id) do |f| %>
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.button %>
    </p>
  <% end %>
