<h3>Your Issue</h3>
<table>
  <tbody>
      <tr>
        <td>What's wrong?</td>
        <td><%= @issue.description %></td>
      </tr>
      <tr>
        <td>What have you tried?</td>
        <td><%= @issue.tried_description %></td>
      </tr>
      <tr>
        <td>Who are you?</td>
        <td><%= @issue.user.email%></td>
      </tr>
      <tr>
        <td>Issue status:<%= @issue.resolved %></td>
        <td>
          <% if @issue.resolved == false %>
            <% status = '<i class="fa fa-exclamation-triangle"></i>&nbsp'.html_safe + " Unresolved"%>
          <% else %>
            <% status = '<i class="fa fa-check"></i>&nbsp'.html_safe + " Resolved"%>
          <% end %>
          <%= status %>
        </td>
      </tr>
    </tbody>
  </table>
<%= link_to "Resolve", issue_resolve_path(@issue.id), method: :post, class: :button %>



<h3>Notes:<h3>
  <%= form_for :notes do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
